<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>业务分类-1</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--[if lte IE 9]><script type="text/javascript" src="http://static.topu.net/f/inc/html5shiv.min.js"></script><![endif]-->
    <link rel="stylesheet" href="/css/project1/style.css">
    <link rel="stylesheet" href="/css/project1/skin_1/style.css">
</head>
<body class="Business">
    <!-- header加class="immersed"为沉浸式 加class="transparent"为 header透明-->
    <header class="content">
        <div class="logo">
            <a href="/index.html">
                <img alt="logo" src="/uploadFile/logo.png">
            </a>
        </div>
        <ul>
            <li class="li_click" url="/index.html" target="_self">网站首页
                <span></span>
            </li>
            <li class="check" target="_self">
                业务分类
                <span></span>
            </li>
            <li class="li_click" url="/view/project1/案例展示.html" target="_self">
                案例展示
                <span></span>
            </li>
            <li class="li_click" url="/view/project1/新闻资讯.html" target="_self">新闻资讯
                <span></span>
            </li>
            <li class="li_click" url="/view/project1/关于我们.html" target="_self">关于我们
                <span></span>

            </li>
            <li class="li_click" url="/view/project1/联系我们.html" target="_self">联系我们
                <span></span>
            </li>
        </ul>
    </header>
    <section class="banner" style="background:url('/uploadFile/Business_banner.png') no-repeat center center">    
    </section>
    <section class="Business_info">
        <div class="title">标题标题标题</div>
        <div id="editor">
            北京拓扑高科信息技术有限公司，是专业从事电子商务应用、信息化平台建设、移动互联网与移动APP开发的高新科技企业。从03年发展至今，现已掌握大量信息化技术，为解决
            企业电子商务平台、移动信息化的应用奠定了良好的基础。拥有一批专业从事软件设计、开发、互联网营销的人才，具有雄厚的技术开发实力，全方位满足政府与中小企业信息化需求。随着2015年“互联网+”概念的推出，以及“大众创业、万众创新”的新方向确立，拓扑高科为大众创业、万众创新提供基础技术服务支持。
        </div>
    </section>
    <footer>
        <ul class="icon">
            <li class="li_click" url=""><img src="/uploadFile/footer_icon_01.png"></li>
            <li class="li_click" url=""><img src="/uploadFile/footer_icon_02.png"></li>
            <li class="li_click" url=""><img src="/uploadFile/footer_icon_03.png"></li>
        </ul>
        <div class="title">分享</div>
        <div class="copyright">LOGO(©)2016ncc5_4-LOGO</div>
    </footer>
</svg>
</body>
<script data-main="/widget/main.js" src="/inc/require.js" id="script_page" page="Business"></script>
</html>
