<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们-3</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--[if lte IE 9]><script type="text/javascript" src="http://static.topu.net/f/inc/html5shiv.min.js"></script><![endif]-->
    <link rel="stylesheet" href="/css/project1/style.css">
    <link rel="stylesheet" href="/css/project1/skin_1/style.css">
</head>
<body class="AboutUS">
    <!-- header加class="immersed"为沉浸式 加class="transparent"为 header透明-->
    <header class="content">
        <div class="logo">
            <a href="/index.html">
                <img alt="logo" src="/uploadFile/logo.png">
            </a>
        </div>
        <ul>
            <li class="li_click" url="/index.html" target="_self">网站首页
                <span></span>
            </li>
            <li class="li_click" url="/view/project1/业务分类.html" target="_self">
                业务分类
                <span></span>
            </li>
            <li class="li_click" url="/view/project1/案例展示.html" target="_self">
                案例展示
                <span></span>
            </li>
            <li class="li_click" url="/view/project1/新闻资讯.html" target="_self">新闻资讯
                <span></span>
            </li>
            <li class="check" target="_self">关于我们
                <span></span>

            </li>
            <li class="li_click" url="/view/project1/联系我们.html" target="_self">联系我们
                <span></span>
            </li>
        </ul>
    </header>
    <section class="banner" style="background:url('/uploadFile/Business_banner.png') no-repeat center center">    
    </section>
    <section class="AboutUS_detail">
        <div class="Common_title">
            <p class="p1">关于</p>
            <p class="p2">ABOUT US</p>
        </div>
        <div id="editor">
            <p>111111111111111</p>
        </div>
    </section>
    <footer>
        <ul class="icon">
            <li class="li_click" url=""><img src="/uploadFile/footer_icon_01.png"></li>
            <li class="li_click" url=""><img src="/uploadFile/footer_icon_02.png"></li>
            <li class="li_click" url=""><img src="/uploadFile/footer_icon_03.png"></li>
        </ul>
        <div class="title">分享</div>
        <div class="copyright">LOGO(©)2016ncc5_4-LOGO</div>
    </footer>
</svg>
</body>
<script data-main="/widget/main.js" src="/inc/require.js" id="script_page" page="AboutUS"></script>
</html>
