<!DOCTYPE html >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻资讯-3</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <!--[if lte IE 9]><script type="text/javascript" src="http://static.topu.net/f/inc/html5shiv.min.js"></script><![endif]-->
    <link rel="stylesheet" href="/css/project1/style.css">
    <link rel="stylesheet" href="/css/project1/skin_1/style.css">
</head>
<body class="News">
    <!-- header加class="immersed"为沉浸式 加class="transparent"为 header透明-->
    <header class="content">
        <div class="logo">
            <a href="/index.html">
                <img alt="logo" src="/uploadFile/logo.png">
            </a>
        </div>
        <ul>
            <li class="li_click" url="/index.html" target="_self">网站首页
                <span></span>
            </li>
            <li class="li_click" url="/view/project1/业务分类.html" target="_self">
                业务分类
                <span></span>
            </li>
            <li class="li_click" url="/view/project1/案例展示.html" target="_self">
                案例展示
                <span></span>
            </li>
            <li class="check" target="_self">新闻资讯
                <span></span>
            </li>
            <li class="li_click" url="/view/project1/关于我们.html" target="_self">关于我们
                <span></span>

            </li>
            <li class="li_click" url="/view/project1/联系我们.html" target="_self">联系我们
                <span></span>
            </li>
        </ul>
    </header>
    <section class="banner" style="background:url('/uploadFile/Business_banner.png') no-repeat center center">    
    </section>
    <section class="News_info">
        <div class="Common_title">
            <p class="p1">新闻</p>
            <p class="p2">NEWS</p>
        </div>
        <ul class="style">
            <li>全部</li>
            <li>/</li>
            <li>行业动态</li>
            <li>/</li>
            <li>公司新闻</li>
        </ul>
        <ul class="news_list">
            <li class="li_click" url="">
                <div class="img_div">
                    <img src="/uploadFile/News_list_01.png">
                </div>
                <div class="div_middle">
                    <div class="li_title">诚信网站认证核心价值</div>
                    <div class="info">
                        诚信网站认证是中国电子商务协会批准中国电子商务协会数字服务中心在全国负责具体实施的政府权威认证
                        诚信网站认证是中国电子商务协会批准中国电子商务协会数字服务中心在全国负责具体实施的政府权威认证…
                    </div>
                    <div class="time">
                        <span class="day">11-29</span><span class="year">/2016</span>
                    </div>
                </div>
                <div class="div_right">
                    <div class="line"></div>
                    <div class="word">MORE</div>
                    <div class="more"></div>
                </div>
            </li>
            <li class="li_click" url="">
                <div class="img_div">
                    <img src="/uploadFile/News_list_02.png">
                </div>
                <div class="div_middle">
                    <div class="li_title">诚信网站认证核心价值</div>
                    <div class="info">
                        诚信网站认证是中国电子商务协会批准中国电子商务协会数字服务中心在全国负责具体实施的政府权威认证
                        诚信网站认证是中国电子商务协会批准中国电子商务协会数字服务中心在全国负责具体实施的政府权威认证…
                    </div>
                    <div class="time">
                        <span class="day">11-29</span><span class="year">/2016</span>
                    </div>
                </div>
                <div class="div_right">
                    <div class="line"></div>
                    <div class="word">MORE</div>
                    <div class="more"></div>
                </div>
            </li>
            <li class="li_click" url="">
                <div class="img_div">
                    <img src="/uploadFile/News_list_03.png">
                </div>
                <div class="div_middle">
                    <div class="li_title">诚信网站认证核心价值</div>
                    <div class="info">
                        诚信网站认证是中国电子商务协会批准中国电子商务协会数字服务中心在全国负责具体实施的政府权威认证
                        诚信网站认证是中国电子商务协会批准中国电子商务协会数字服务中心在全国负责具体实施的政府权威认证…
                    </div>
                    <div class="time">
                        <span class="day">11-29</span><span class="year">/2016</span>
                    </div>
                </div>
                <div class="div_right">
                    <div class="line"></div>
                    <div class="word">MORE</div>
                    <div class="more"></div>
                </div>
            </li>
            <li class="li_click" url="">
                <div class="img_div">
                    <img src="/uploadFile/News_list_04.png">
                </div>
                <div class="div_middle">
                    <div class="li_title">诚信网站认证核心价值</div>
                    <div class="info">
                        诚信网站认证是中国电子商务协会批准中国电子商务协会数字服务中心在全国负责具体实施的政府权威认证
                        诚信网站认证是中国电子商务协会批准中国电子商务协会数字服务中心在全国负责具体实施的政府权威认证…
                    </div>
                    <div class="time">
                        <span class="day">11-29</span><span class="year">/2016</span>
                    </div>
                </div>
                <div class="div_right">
                    <div class="line"></div>
                    <div class="word">MORE</div>
                    <div class="more"></div>
                </div>
            </li>
            <li class="li_click" url="">
                <div class="img_div">
                    <img src="/uploadFile/News_list_05.png">
                </div>
                <div class="div_middle">
                    <div class="li_title">诚信网站认证核心价值</div>
                    <div class="info">
                        诚信网站认证是中国电子商务协会批准中国电子商务协会数字服务中心在全国负责具体实施的政府权威认证
                        诚信网站认证是中国电子商务协会批准中国电子商务协会数字服务中心在全国负责具体实施的政府权威认证…
                    </div>
                    <div class="time">
                        <span class="day">11-29</span><span class="year">/2016</span>
                    </div>
                </div>
                <div class="div_right">
                    <div class="line"></div>
                    <div class="word">MORE</div>
                    <div class="more"></div>
                </div>
            </li>
            <li class="li_click" url="">
                <div class="img_div">
                    <img src="/uploadFile/News_list_06.png">
                </div>
                <div class="div_middle">
                    <div class="li_title">诚信网站认证核心价值</div>
                    <div class="info">
                        诚信网站认证是中国电子商务协会批准中国电子商务协会数字服务中心在全国负责具体实施的政府权威认证
                        诚信网站认证是中国电子商务协会批准中国电子商务协会数字服务中心在全国负责具体实施的政府权威认证…
                    </div>
                    <div class="time">
                        <span class="day">11-29</span><span class="year">/2016</span>
                    </div>
                </div>
                <div class="div_right">
                    <div class="line"></div>
                    <div class="word">MORE</div>
                    <div class="more"></div>
                </div>
            </li>
        </ul>
    </section>
    <section class="fenye">
        <div class="" id="">
            <table align="center" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td><ul><li class="first"><a href="?p=1&amp;">首页</a></li><li><a href="?p=1&amp;">&lt;</a></li><li><a href="?p=1&amp;">1</a></li><li class="now now_cur">2</li><li><a href="?p=3&amp;">3</a></li><li><a href="?p=3&amp;">&gt;</a></li><li class="last"><a href="?p=3&amp;">尾页</a></li></ul></td></tr></tbody></table></div>
        
    </section>
    <footer>
        <ul class="icon">
            <li class="li_click" url=""><img src="/uploadFile/footer_icon_01.png"></li>
            <li class="li_click" url=""><img src="/uploadFile/footer_icon_02.png"></li>
            <li class="li_click" url=""><img src="/uploadFile/footer_icon_03.png"></li>
        </ul>
        <div class="title">分享</div>
        <div class="copyright">LOGO(©)2016ncc5_4-LOGO</div>
    </footer>
</svg>
</body>
<script data-main="/widget/main.js" src="/inc/require.js" id="script_page" page="News"></script>
</html>
